@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../Images/main.jpg') no-repeat center center/cover;
}

/*Start home page style*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* position: absolute; */
    width: 100%;
    /* top: 0; */
}

.logo img{
    width: 100px;
}

nav ul{
  list-style: none;
  display: flex;
  padding-right: 50px;
}

nav ul li{
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 18px;
  padding: 30px;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

nav ul li a:hover {
  color: #f1f1f1;
  border-bottom: 2px solid #f1f1f1; 
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: -100px;
    text-align: center;
    color: #f1f1f1;
}

.content{
    max-width: 600px;
}

.title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: .8px;
}

.divider{
    width: 50%;
    margin: 0 auto;
    border: 1px solid #f1f1f1;
    margin-bottom: 20px;
}

.descreption{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
    word-spacing: .8px;
}

.btn{
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .8px;
    line-height: 24px;
    min-width: 160px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
}

.btn:hover{
    transform: scale(1.05);
    background-color: #06D001;
    color: #f1f1f1;
}
/*End home page style*/

/* start style contact section */

.contact-section{
    background: #F1F1F1;
    background-size: cover;
    width: 100%;
    margin: auto;
}
.contact-content {
  display: flex;
  margin: 50px;
}
.contact-left-side {
  flex-basis: 50%;
}
.contact-right-side{
  flex-basis: 50%;
  padding: 15px 10px;
  border-radius: 5px;

}
.contact-section h1{
  text-align: center;
  transform: translateY(30px);
  color: #000;
}
.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
}
.contact-form-text{
  display: block;
  width: 100%; 
  border-radius: 6px;
  background: #D9D9D9;
  margin: 16px 0;
  border: 0;
  padding: 20px 40px;
  color: #000; 
}
.btn-container{
  display: flex;
}
.contact-form-btn{
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background: #1f1f1f;
  border: 2px solid #1f1f1f;
  margin: 20px auto;
  margin-top: 0px;
  color: #f1f1f1;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: .8px;
  cursor: pointer;
  transition: 0.3s;
}
.contact-form-btn:hover{
  transform: scale(1.05);
  background-color: #f1f1f1;
  color: #1f1f1f;
  border: 2px solid #000;
}
/* delete footer style */

/* start services style */
.service-title {
    color: #1f1f1f;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    /* margin-top: 8%; */
}

.intro {
    color: #1f1f1f;
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px;
}

.services-section-home {
    padding: 50px 20px;
    background-color: #f1f1f1;
}

.container-home {
    max-width: 1200px;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    color: #f1f1f1;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    transition: 0.3s;
}
.card:hover{
    transform: translateY(-10px);
}
.card h3 {
    font-size: 24px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: #f1f1f1;
}

.card-icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.card:nth-child(1) {
    background-image: url('../Images/designPic.jpg');
}

.card:nth-child(2) {
    background-image: url('../Images/developmentPic.jpg');
}

.card:nth-child(3) {
    background-image: url('../Images/seoPic.jpg');
}

.more-services-btn {
    display: block;
    background-color: #1f1f1f;
    color: #f1f1f1;
    border: solid 1px #1f1f1f;
    padding: 15px 30px;
    margin: 30px auto 0;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.more-services-btn:hover {
    background-color: #f1f1f1;
    color: #1f1f1f;
    border: solid 1px #1f1f1f;
    transform: scale(1.05);
}
/* end services style */

/* media query style */
@media only screen and (max-width: 600px) {
    html, body{
        height: 100%;
        width: 931px;
    }
    nav ul {
        list-style: none;
        display: flex;
        padding-right: 0px;
    }
    nav ul li a {
        text-decoration: none;
        color: #f1f1f1;
        font-size: 18px;
        padding: 0px;
        transition: color 0.3s;
    }
}
/* end media query style */