/* start work style */
.work-title {
    color: #f1f1f1;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    /* margin-top: 8%; */
}
.work-section-home{
    background-color: #1f1f1f;
    padding: 5%;
}
.work-intro {
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px;
    color: #f1f1f1;
}

.work-section {
    padding: 50px 20px;
    background-color: #1f1f1f;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.work-cards {
    display: flex;
    justify-content: space-around;
    /* gap: 20px; */
    flex-wrap: wrap;
}

.work-card {
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    color: #f1f1f1;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    border: #1f1f1f solid 2px;
    transition: 0.3s;
}
.work-card:hover{
    transform: scale(1.05);
    border: #f1f1f1 2px solid;
}
.work-card h3 {
    font-size: 24px;
    margin: 10px 0;
}

.work-card p {
    font-size: 14px;
    color: #f1f1f1;
}

.card-icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.work-card:nth-child(1) {
    background-image: url('../Images/MarketingAgencyHover.jpg');
}

.work-card:nth-child(2) {
    background-image: url('../Images/WebDev2.jpg');
}

.work-card:nth-child(3) {
    background-image: url('../Images/LatrachPortfolioHover.jpg');
}

.more-work-btn {
    display: block;
    background-color: #f1f1f1;
    color: #1f1f1f;
    border: solid 1px #1f1f1f;
    padding: 15px 30px;
    margin: 30px auto 0;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.more-work-btn:hover {
    background-color: #1f1f1f;
    color: #f1f1f1;
    border: solid 1px #f1f1f1;
    transform: scale(1.05);
}
/* end work style */

/* media query style */
@media screen and (max-width: 768px) {
    .card-icon img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        margin-top: 50px;
    }
    .card p{
        font-size: 20px;
    }
    .work-card{
        width: 700px;
        height: 400px;
    }
    .card h3{
        font-size: 20px;
    }
    .work-card h3{
        font-size: 40px;
    }
    .work-card-icon img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        margin-top: 50px;
    }
    .work-card p{
        font-size: 20px;
    }
    .work-title{
        font-size: 40px;
    }
    .work-intro{
        font-size: 18px;
    }
    .more-services-btn{
        width: 300px;
        height: 70px;
        font-size: 18px;
    }
    .more-work-btn{
        width: 300px;
        height: 70px;
        font-size: 18px;
    }
}
/* end media query style */